@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: url(/Content/Fonts/Merienda/Merienda-Regular.ttf) format('woff2');
}

.brand-logo {
  font-family: 'Merienda';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


html {
    height: 100vh;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#logo-img {
    margin-top: 0.45vh;
}

#sidenav-logo {
    padding: 0.6em 0 0.6em 0;
}

a.right.green-text {
    margin: 0 !important;
}

.container-fluid {
    width: 80%;
}